* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Header */

.colorheaderdiv1 {
  background-color: rgb(122, 23, 23);
  font-weight: 500;
}

.botonbusqueda {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: black;
}

.botonbusqueda:hover {
  background-color: rgb(122, 23, 23);
  border-color: black;
}

/* Footer */

footer {
  background-color: rgb(104, 68, 68);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

footer img {
  max-width: 36px;
  max-height: 36px;
}

footer div {
  padding: 0.55rem;
}

.politicas {
  display: flex;
  flex-direction: column;
}

.politicas a {
  color: rgb(214, 202, 202);
}

.redessociales a {
  margin: 0 0.5rem;
}


.portadajapanshop {
  padding: 0.5rem;
}

.portadajapanshop img {
  border-radius: 7px;
  max-height: 800px;
  width: 100%;
}

.somos-japanshop {
  text-align: center;
}

.somos-japanshop p {
  text-align: start;
}

.botonunetenos {
  background-color: rgb(122, 23, 23);
  padding: 1rem;
  border-radius: 7px;
  color: rgb(240, 230, 230);
}

.portadasecundaria {
  margin: 1.2rem 0rem;
  margin-top: 2rem;
  border-top: 1px solid black;
  padding-top: 2rem;
}

.novedades {
  padding: 0.5rem;
  text-align: center;
}

.noveimagenes {
  text-align: center;
  align-items: center;
}

.noveimagenes p {
  margin: 0;
}

.noveimagenes div {
  margin-bottom: 2.5rem;
}

.contenedor {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;

}

.contenedor:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.nodisplayproducto {
  display: none;
}

.filtroducto {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgb(255, 235, 213);
  width: 100%;
  padding: 1rem;
}

.filtroducto li a {
  font-weight: 700;
  padding: .5rem;
}

.filtroducto li a:hover {
  background-color: rgb(129, 55, 55);
  border-radius: 10px;
  color: white;
}

.tendencias h2 {
  padding: 0.5rem;
  text-align: center;
}

.tendenciasmarco {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.tendenciasmarco:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.ofertas h2 {
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem;
}

.ofertasmarco {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.ofertasmarco:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}